@import url("views/html.css");
@import url("views/index.css");
@import url("views/js.css");
@import url("views/kontakt.css");
@import url("views/projekty.css");
@import url("views/team.css");
@import url("views/1140.css");
@import url("reset.css");
@import url("css/animate.css");


/* Our main stylesheet for general rules */

* {
  box-sizing: border-box;
 }

body {
	background-image: url("../img/skulls.png");
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 20px;
}

::-moz-selection {
	color: #fff;
	background: #CFD1B2;
}

::selection {
	color: #fff;
	background: #CFD1B2;
}

a {
	text-decoration: none;
	color: #6889a0;
}

a:hover {
	color: #65abdd;
}

#master-footer  h2 {
	text-align: center;
	font-size: 4rem;
	margin-bottom: 30px;
	font-family: Vivaldi;

}

#master-footer  ul {
	text-align: center;
}

#master-footer {

}

#master-footer a:hover {
	text-decoration: none;
	font-size: 25px;
}

#master-footer li {
	text-decoration: none;
	font-size: 25px;

}

.column4 {
	margin-top: 100px;
}

.container-fluid{
	background: #000;
	box-shadow: 0px 0px 7px 3px #333;

}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;

}

#master-header .navbar-default .navbar-nav>li>a {
	color: #fff;
	font-weight: 400;
	font-size: 2rem;
	margin: 0px 5px;
	text-transform: uppercase;
	border-bottom: 5px solid ##33d;
	transition: all 0.7s;

}

#master-header .navbar-nav > li > a:hover {
    background: #33d;
    border-top: 5px solid ##33d;
    color: ##33d;
}

#galeria {
	text-align: center;
}

#maintxt {
	text-align: center;
}

#galeriah2 {
	margin-top: 80px;
	margin-bottom: -30px;
	text-align: center;
}

#stopka {
	background-color: #000;
	color: #fff;
	width: 100%;
	overflow: hidden;
}

#copyright {
	float: left;
	display: inline-block;
	padding: 7px;
}

#stopkalinki {
	float: right;
	text-align: right;
	text-decoration: none;
	padding: 7px;
}

/*slider*/

#myCarousel {
	overflow: hidden;
	max-height: 450px;
}
#myCarousel img {
  width: 100%;
}

#stopkalinki a {
	color: white;
	padding: 5px;
}
