.top-fix{
	margin-top: 65px
}

.contact-row{
	margin-top: 20px;
}

.contact-top > .column2 > h1{
	font-family: Verdana;
	text-align: center;
	color: #525252;
	margin-bottom: 10px;
}

.contact-map{
	overflow: hidden;
	border-top: 20px solid rgba(0,0,0,0.4);
	border-bottom: 20px solid rgba(0,0,0,0.4);
}

.contact-middle{
	margin-bottom: 10px;
}

.contact-align > ul > li {
	margin: 5px 0px;
}

.contact-align-box{
	text-align: left;
 	background: rgba(0,0,0,0.4);
 	padding: 10px 2px;
 	padding-left: 30px;
 	color: #fff;
 	font-size: 1.2rem;
}

.contact-adress h4{
	line-height: 23px;
}

.contact-fa{
	padding-right: 10px;
}