.top-fix{
	margin-top: 65px
}

.contact-row{
	margin-top: 20px;
}

.row {
    margin: 0px;
}

.team-top > .column2 > h1{
	font-family: Verdana;
	text-align: center;
	color: #525252;
	text-decoration: underline;
	margin-bottom: 10px;
}

.team-align-box{
	height: 500px;
	text-align: center;
}

.team-align-box > p {
	margin-top: 10px;
	text-align: justify;
}

.team-align-box > p {
	margin: 15px 15px;
}

.team-align-box{
	text-align: center;
 	background: rgba(0,0,0,0.4);
 	padding: 10px 2px;
 	color: #fff;
 	font-size: 1.2rem;
}

.team-align-box > h2{
	color: #fff;
}
